---
---
/* -*-css-mode-*- */

/* Responsive top logo */
img.top-logo {
    border-width: 0px;
    width: 100%;
    max-width: 45rem;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ensure that headers have the same baseline-ish */
.first-column-header {
    margin-top: 10px;
}    

.first-column-header:after {
    content: '\00a0';
    font-size: 36px;
}


/* Fit images inside column */
div.post-content {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

/* Semicolon logo in the footer */
div.semicolon-footer {
    padding-top: 40px;
    padding-bottom: 40px;

    img {
        width: auto;
        height: 40px;
    }
}

/* License information footer */
table.license {
    border-width: 0px;

    td {
        vertical-align: middle;
    }
    
    td.license-image {
        padding-right: 5px;
    }

    img {
        border-width: 0px;
    }

    p {
        margin-bottom: 0px;
    }
}