---
title: Klavreströms kodmanufaktur
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      {% include logo.html %}

      <div class="row">
        <div class="col-sm-8">
          {% for post in site.posts %}
            <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
            
            {{ post.excerpt | markdownify }}

            <p>
              <small class="text-muted">Posted on {{ post.date | date_to_long_string }}.</small>
              <br>
              {% for category in post.categories %}
                <span class="badge">{{ category }}</span>
              {% endfor %}
              {% for tag in post.tags %}
                <span class="badge">{{ tag }}</span>
              {% endfor %}
            </p>

            {% if forloop.last %}{% else %}<hr>{% endif %}
          {% endfor %}

          <footer>
            <div class="semicolon-footer text-center">
              <img src="/images/semicolon.svg">
            </div>
          </footer>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
          <h4>Hello.</h4>

          <div class="text-muted">
            <p> I'm a software consultant, drawing boxes and arrows and
              coding anything from Visual Cobol to Node.js.  </p>

            <p> This is a place for me to document things I learn the
              hard way and letting Google index it.  Hopefully it helps
              someone else.  </p>
            
            <p> I also talk about my
              <a href="https://github.com/petli/codplayer">codplayer</a>
              project: building a CD player out of a Raspberry Pi, some
              Python and a '60s Philips record player.  </p>

            <p> <i>/Peter Liljenberg</i> </p>
          </div>

          <hr />

          <h4>Contact.</h4>

          <ul class="list-unstyled">
            <li><a href="mailto:peter.liljenberg@gmail.com">peter.liljenberg@gmail.com</a></li>
            <li><a href="https://github.com/petli">petli@github</a></li>
            <li><a href="https://twitter.com/goodoldshep">@goodoldshep</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
