---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      {% include logo.html %}

      <div class="row">
        <div class="col-sm-8">
          <h1>{{ page.title }}</h1>
          <p>
            {% for category in page.categories %}
              <span class="badge">{{ category }}</span>
            {% endfor %}
            {% for tag in page.tags %}
              <span class="badge">{{ tag }}</span>
            {% endfor %}
              <br>
            <small class="text-muted">Posted by {{ page.author }} on {{ page.date | date_to_long_string }}.</small>
          </p>
          <div class="post-content">
            {{ content }}
          </div>

          <footer>
            <div class="semicolon-footer text-center">
              <img src="/images/semicolon.svg">
            </div>

            <table class="license">
              <tr>
                <td class="license-image">
                  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img class="cc-license"
                         alt="Creative Commons License CC-BY 4.0"
                         src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
                  </a>
                </td>
                <td>
                  <p class="text-muted">
                    <small>
                      Unless otherwise noted, the contents of
                      all posts is Copyright 2015 Peter Liljenberg and licensed under a
                      <a rel="license"
                         href="http://creativecommons.org/licenses/by/4.0/">
                        Creative Commons Attribution 4.0 International License</a>.
                    </small>
                  </p>
                </td>
              </tr>
            </table>
          </footer>
        </div>

        <div class="col-sm-3 col-sm-offset-1">
          <h4>Latest.</h4>

          <ul class="list-unstyled">
            <li> Links here. </li>
          </ul>

          <hr />

          <h4>Archive.</h4>

          <ul class="list-unstyled">
            <li> Links here. </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
